/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Urbanist", sans-serif;
}

/* LIGHT MODE */
html.light, html:not(.dark) {
  background-color: #f9fafb;
  color: #111827;
}

/* DARK MODE */
html.dark {
  background-color: #0f172a;
  color: #f1f5f9;
}

html.dark body {
  background-color: #0f172a !important;
  color: #f1f5f9 !important;
}
